header {
  font-size: 12px;
}
header .header-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  width: 100vw;
  height: 10vh;
  background-color: white;
}
header .parallax-image-hero {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
}
header .parallax-image-hero .layer {
  position: absolute;
  top: 0;
  width: 110%;
  height: 140%;
}
header .parallax-image-hero .layer-bg {
  background: url(../img/layer-1.png) center no-repeat;
  background-size: cover;
}
header .parallax-image-hero .layer-1 {
  background: url(../img/2.png) center no-repeat;
  background-size: cover;
}
header .parallax-image-hero .layer-2 {
  background: url(../img/3.png) center no-repeat;
  background-size: cover;
}
main section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  height: 100vh;
}
main section h2 {
  color: white;
}
main section:first-child {
  background: url("../img/whit rocks.jpg") center;
  background-size: cover;
}
main section:nth-child(2) {
  background: black;
}
main section:nth-child(3) {
  background: url("../img/needles.jpg");
  background-size: cover;
}
main section:last-child {
  background: blue;
}
