body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
body h1,
body h2,
body h3 {
  font-family: 'Dosis', sans-serif;
}
header {
  z-index: 2;
  position: relative;
  width: 100vw;
  font-size: 25px;
}
header .header-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  height: 10vh;
  color: white;
  background: rgba(0, 0, 0, 0.25);
}
header .header-top .logo {
  margin-left: 10%;
}
header .header-top .entrance {
  margin-right: 10%;
  font-size: 20px;
}
header .header-middle {
  position: absolute;
  width: 100%;
  top: 10vh;
  height: 90vh;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .header-middle .btn {
  font-size: 50px;
  border-radius: 20px;
  outline: none;
  border-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
header .header-middle .btn .btn-child {
  height: 100px;
  width: 50px;
  transition: 0.5s;
  background-color: #f9f9f9;
  cursor: pointer;
}
header .header-middle .btn .btn-child:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
header .header-middle .btn .btn-child:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .header-middle .btn:hover .btn-child {
  margin: 10px;
  height: 300px;
  width: 100px;
  transition: 0.3s;
  transition-delay: 0.5s;
  border-radius: unset;
}
header .header-middle .btn:hover .btn-child:hover {
  width: 200px;
  background-color: crimson;
}
header .header-side {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  right: 2%;
  bottom: 2%;
  background-color: transparent;
  color: white;
}
header .header-side .social img {
  width: 40px;
  height: 40px;
  margin: 5px;
}
header .parallax-image-hero {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
}
header .parallax-image-hero .layer {
  position: absolute;
  top: 0;
  width: 110%;
  height: 140%;
}
header .parallax-image-hero .layer-bg {
  background: url(../img/layer-1.png) center no-repeat;
  background-size: cover;
}
header .parallax-image-hero .layer-1 {
  background: url(../img/2.png) center no-repeat;
  background-size: cover;
}
header .parallax-image-hero .layer-2 {
  background: url(../img/3.png) center no-repeat;
  background-size: cover;
}
.side-nav {
  position: fixed;
  height: 500px;
  top: 25%;
  margin-left: 50px;
  z-index: 1;
}
.side-nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  border-left: 1px solid #fff;
}
.side-nav ul li {
  font-size: 12px;
  align-self: flex-start;
  color: #fff;
  padding-left: 30px;
  position: relative;
}
.side-nav ul li:before {
  content: "";
  position: absolute;
  left: 0;
  font-size: 40px;
  width: 10px;
  display: block;
  top: 50%;
  background: white;
  z-index: 23;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  height: 10px;
}
.side-nav ul .paintToBlack {
  color: black;
}
.side-nav ul .paintToBlack:before {
  content: "";
  position: absolute;
  left: 0;
  font-size: 40px;
  width: 15px;
  display: block;
  top: 50%;
  background: black;
  z-index: 23;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  height: 15px;
}
.side-nav ul .paintToRed:before {
  content: "";
  position: absolute;
  left: 0;
  font-size: 40px;
  width: 15px;
  display: block;
  top: 50%;
  background: red;
  z-index: 23;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  height: 15px;
}
.side-nav ul .paintToBlackUl {
  border-left-color: black;
}
main {
  position: relative;
}
main section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
main section:first-child {
  background: url("../img/r.jpg");
  background-size: cover;
  background-position-y: center;
}
main section:nth-child(2) {
  background: white;
}
main section:nth-child(3) {
  background: url("../img/r.jpg");
  background-size: cover;
  background-position-y: center;
}
main section:last-child {
  background: black;
  background-size: cover;
}
main section .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}
main section .wrapper .sheet {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}
main section .wrapper .sheet .video-title {
  margin: 0;
  font-size: 40px;
}
main section .wrapper .sheet p {
  width: 60%;
}
main section .wrapper .sheet #media-player {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
}
main section .wrapper .sheet #media-player #media-video {
  width: 80%;
}
main section .wrapper .sheet #media-player .video-container {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
main section .wrapper .sheet #media-player .video-container #play-pause-button {
  transform: translateX(30px);
  border-style: solid;
  border-width: 37px 37px 37px 37px;
  background-color: transparent;
  border-color: transparent transparent transparent white;
  position: relative;
  outline: none;
  transition: opacity 1s ease;
}
main section .wrapper .sheet #media-player .video-container .button-circle {
  position: absolute;
  width: 115px;
  height: 115px;
  border: 2px solid white;
  border-radius: 50%;
  outline: none;
  transition: opacity 1s ease;
}
main section .wrapper .miniSheet {
  width: 33%;
  height: 63%;
  box-shadow: 10px 9px 44px -6px rgba(0, 0, 0, 0.58);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 10px;
}
main section .wrapper .miniSheet:first-child {
  margin-right: 505px;
}
main section .wrapper .miniSheet:last-child {
  margin-left: 505px;
}
